#main-page {
    padding-top: 9%;
    /* width: 100px; */
}
.p5Canvas {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: gray;
    font-family: 'Roboto Condensed';
  }
body {
    background-color: #e4e4e4;
    align-items: center;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}
input[type="color"]{
    width: 20px;
    height: 20px;
	border: none;
}
input[type="text"]{
    width: 2%;
}
#color-xy-div {
    padding-top: 0.5%;
    /* padding-top: 8%; */
}
input[type="text"]{
    border: none;
}
#submit-button {
    color: black;
    max-width: 200px;
    width: 15%;
}
.button {
    width: inherit;
    padding-top: 1%;
}