#main-page {
    padding-top: 10%;
    /* width: 100px; */
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
body {
    background-color: #e4e4e4;
    align-items: center;
    text-align: center; 
}